body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
  }
  
.newpost{
	bottom: 80px;
  }
  
.draftdelete {
position: absolute;
right: 20px;
margin-top: -46px;
}